body{
  background : gray;


}
.card{
   background : white;
   width: 340px;
   height: 540px;
   border-radius: 12px;
   box-shadow: 0px 0px 12px;
   top: 25px;
   margin: auto;

}
.pay{

 height: 50px;
width:200px

}
.flex-container{
  
  display: flex;
  width: 100%;
  background:grey;
  box-sizing: border-box;
  justify-content: space-evenly;
   color: white;
}

.flex-container div {
   border-radius: 05px;
   width: 150px;
}
